In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [6]:
df_april = pd.read_csv('Resources/JC-202004-citibike-tripdata.csv')
df_april.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [8]:
df_may = pd.read_csv('Resources/JC-202005-citibike-tripdata.csv')
df_may.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [9]:
df_june = pd.read_csv('Resources/JC-202006-citibike-tripdata.csv')
df_june.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,122,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42489,Subscriber,1987,1
1,1282,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,3198,Heights Elevator,40.748716,-74.040443,3276,Marin Light Rail,40.714584,-74.042817,42183,Subscriber,1988,1
2,186,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,3275,Columbus Drive,40.718355,-74.038914,3681,Grand St,40.715178,-74.037683,42140,Subscriber,1987,1
3,131,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,3267,Morris Canal,40.712419,-74.038526,3681,Grand St,40.715178,-74.037683,42120,Subscriber,1987,1
4,266,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42437,Subscriber,1972,2

In [11]:
#Combine data using pd.concat
alldata = pd.concat([df_april, df_may, df_june], ignore_index=True)
alldata.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [12]:
#Split date and time into separate columns
alldata['startdate'] = alldata['starttime'].str.slice(0,10)
alldata['starttime'] = alldata['starttime'].str.slice(10,24)
alldata['stopdate'] = alldata['stoptime'].str.slice(0,10)
alldata['stoptime'] = alldata['stoptime'].str.slice(10,24)
alldata.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,stopdate
0,1437,01:06:20.6300,01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2,2020-04-01,2020-04-01
1,264,05:02:42.0570,05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2,2020-04-01,2020-04-01

In [13]:
#Add Gender column values
alldata["gender"] = alldata["gender"].replace(
    {0:"Unknown",
     1:"Male",
     2:"Female"})
alldata.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,stopdate
0,1437,01:06:20.6300,01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,Female,2020-04-01,2020-04-01
1,264,05:02:42.0570,05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,Female,2020-04-01,2020-04-01
2,254,06:20:28.1190,06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,Male,2020-04-01,2020-04-01
3,429,06:33:30.5170,06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,Male,2020-04-01,2020-04-01
4,805,06:38:32.9220,06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,Male,2020-04-01,2020-04-01

In [14]:
alldata = alldata.rename(columns = {'tripduration':'Trip Duration (s)', 
                                    'starttime':'Start Time', 
                                    'startdate': 'Start Date',
                                    'stoptime': 'Stop Time',
                                    'stopdate': 'Stop Date',
                                    'start station id':'Start Station ID', 
                                    'start station name': 'Start Station Name',
                                    'start station latitude':'Start Station Lat', 
                                    'start station longitude': 'Start Station Lng',
                                    'end station id': 'End Station ID', 
                                    'end station name':'End Station Name',
                                    'end station latitude':'End Station Lat',
                                    'end station longitude':'End Station Lng', 
                                    'bikeid':'Bike ID',
                                    'usertype':'User Type',
                                    'birth year':'Birth Year',
                                    'gender':'Gender'})
# View updated column names
alldata.head()

,Trip Duration (s),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Lat,Start Station Lng,End Station ID,End Station Name,End Station Lat,End Station Lng,Bike ID,User Type,Birth Year,Gender,Start Date,Stop Date
0,1437,01:06:20.6300,01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,Female,2020-04-01,2020-04-01
1,264,05:02:42.0570,05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,Female,2020-04-01,2020-04-01
2,254,06:20:28.1190,06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,Male,2020-04-01,2020-04-01
3,429,06:33:30.5170,06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,Male,2020-04-01,2020-04-01
4,805,06:38:32.9220,06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,Male,2020-04-01,2020-04-01

In [16]:
#Transform date and time columns to datetimelike values
alldata['Start Date'] = pd.to_datetime(alldata['Start Date'], errors='coerce')
alldata['Stop Date'] = pd.to_datetime(alldata['Stop Date'], errors='coerce')

#Create seperate columns for Month, Day, Day of Week, and Year from start date
alldata['Start Month'] = alldata['Start Date'].dt.month
alldata['Start Day'] = alldata['Start Date'].dt.day
alldata['Start Year'] = alldata['Start Date'].dt.year
alldata['Start DoW'] = alldata['Start Date'].dt.day_name()

#Create seperate columns for Month, Day, Day of Week, and Year from stop date
alldata['Stop Month'] = alldata['Stop Date'].dt.month
alldata['Stop Day'] = alldata['Stop Date'].dt.day
alldata['Stop Year'] = alldata['Stop Date'].dt.year
alldata['Stop DoW'] = alldata['Stop Date'].dt.day_name()

alldata.head()

,Trip Duration (s),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Lat,Start Station Lng,End Station ID,End Station Name,End Station Lat,...,Start Date,Stop Date,Start Month,Start Day,Start Year,Start DoW,Stop Month,Stop Day,Stop Year,Stop DoW
0,1437,01:06:20.6300,01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,...,2020-04-01,2020-04-01,4,1,2020,Wednesday,4,1,2020,Wednesday
1,264,05:02:42.0570,05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,...,2020-04-01,2020-04-01,4,1,2020,Wednesday,4,1,2020,Wednesday
2,254,06:20:28.1190,06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,...,2020-04-01,2020-04-01,4,1,2020,Wednesday,4,1,2020,Wednesday
3,429,06:33:30.5170,06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,...,2020-04-01,2020-04-01,4,1,2020,Wednesday,4,1,2020,Wednesday
4,805,06:38:32.9220,06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,...,2020-04-01,2020-04-01,4,1,2020,Wednesday,4,1,2020,Wednesday

In [17]:
#Add a Trip Duration column representing minutes
alldata['Trip Duration (m)'] = alldata['Trip Duration (s)']/60
alldata['Trip Duration (m)'] = alldata['Trip Duration (m)'].map("{:.2f}".format).astype(float)

#Add a Trip Duration column representing hours
alldata['Trip Duration (h)'] = alldata['Trip Duration (m)']/60
alldata['Trip Duration (h)'] = alldata['Trip Duration (h)'].map("{:.2f}".format).astype(float)

alldata.head()

,Trip Duration (s),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Lat,Start Station Lng,End Station ID,End Station Name,End Station Lat,...,Start Month,Start Day,Start Year,Start DoW,Stop Month,Stop Day,Stop Year,Stop DoW,Trip Duration (m),Trip Duration (h)
0,1437,01:06:20.6300,01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,...,4,1,2020,Wednesday,4,1,2020,Wednesday,23.95,0.40
1,264,05:02:42.0570,05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,...,4,1,2020,Wednesday,4,1,2020,Wednesday,4.40,0.07
2,254,06:20:28.1190,06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,...,4,1,2020,Wednesday,4,1,2020,Wednesday,4.23,0.07
3,429,06:33:30.5170,06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,...,4,1,2020,Wednesday,4,1,2020,Wednesday,7.15,0.12
4,805,06:38:32.9220,06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,...,4,1,2020,Wednesday,4,1,2020,Wednesday,13.42,0.22

In [18]:
#Add age column
alldata['Age'] = alldata['Stop Year'] - alldata['Birth Year'].astype(int)
alldata.head()

,Trip Duration (s),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Lat,Start Station Lng,End Station ID,End Station Name,End Station Lat,...,Start Day,Start Year,Start DoW,Stop Month,Stop Day,Stop Year,Stop DoW,Trip Duration (m),Trip Duration (h),Age
0,1437,01:06:20.6300,01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,...,1,2020,Wednesday,4,1,2020,Wednesday,23.95,0.40,18
1,264,05:02:42.0570,05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,...,1,2020,Wednesday,4,1,2020,Wednesday,4.40,0.07,57
2,254,06:20:28.1190,06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,...,1,2020,Wednesday,4,1,2020,Wednesday,4.23,0.07,39
3,429,06:33:30.5170,06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,...,1,2020,Wednesday,4,1,2020,Wednesday,7.15,0.12,56
4,805,06:38:32.9220,06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,...,1,2020,Wednesday,4,1,2020,Wednesday,13.42,0.22,55

In [19]:
#Categorize users using the age bins (added "Age Group" columm)
age_bins = [10, 20, 30, 40, 50, 60, 70, 80, 150]
age_groups = ["Teens", "20s", "30s", "40s", "50s", "60s", "70s", "80+"]
alldata["Age Group"] = pd.cut(alldata["Age"], age_bins, labels=age_groups)
alldata.head()

,Trip Duration (s),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Lat,Start Station Lng,End Station ID,End Station Name,End Station Lat,...,Start Year,Start DoW,Stop Month,Stop Day,Stop Year,Stop DoW,Trip Duration (m),Trip Duration (h),Age,Age Group
0,1437,01:06:20.6300,01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,...,2020,Wednesday,4,1,2020,Wednesday,23.95,0.40,18,Teens
1,264,05:02:42.0570,05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,...,2020,Wednesday,4,1,2020,Wednesday,4.40,0.07,57,50s
2,254,06:20:28.1190,06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,...,2020,Wednesday,4,1,2020,Wednesday,4.23,0.07,39,30s
3,429,06:33:30.5170,06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,...,2020,Wednesday,4,1,2020,Wednesday,7.15,0.12,56,50s
4,805,06:38:32.9220,06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,...,2020,Wednesday,4,1,2020,Wednesday,13.42,0.22,55,50s

In [20]:
#Check columns for spaces
alldata.columns

Index(['Trip Duration (s)', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Lat', 'Start Station Lng',
       'End Station ID', 'End Station Name', 'End Station Lat',
       'End Station Lng', 'Bike ID', 'User Type', 'Birth Year', 'Gender',
       'Start Date', 'Stop Date', 'Start Month', 'Start Day', 'Start Year',
       'Start DoW', 'Stop Month', 'Stop Day', 'Stop Year', 'Stop DoW',
       'Trip Duration (m)', 'Trip Duration (h)', 'Age', 'Age Group'],
      dtype='object')

In [21]:
#Export combined CSV file to folder
alldata.to_csv("alldata.csv", index=False, header=True)

In [22]:
#There are more subscribers than one-time customers
alldata['User Type'].value_counts()

Subscriber    39469
Customer      31797
Name: User Type, dtype: int64

In [23]:
#There are more male users than female users
alldata['Gender'].value_counts()

Male       37655
Female     18785
Unknown    14826
Name: Gender, dtype: int64

In [24]:
#Most users are in the 30s followed by 50s ands 20s
alldata['Age Group'].value_counts()

30s      20694
50s      19971
20s      19322
40s       8240
60s       2095
Teens      850
70s         93
80+          1
Name: Age Group, dtype: int64

In [25]:
#High level statistics of the data
alldata.describe()

,Trip Duration (s),Start Station ID,Start Station Lat,Start Station Lng,End Station ID,End Station Lat,End Station Lng,Bike ID,Birth Year,Start Month,Start Day,Start Year,Stop Month,Stop Day,Stop Year,Trip Duration (m),Trip Duration (h),Age
count,7.126600e+04,71266.000000,71266.000000,71266.000000,71266.000000,71266.000000,71266.000000,71266.000000,71266.000000,71266.000000,71266.000000,71266.0,71266.000000,71266.000000,71266.0,71266.000000,71266.000000,71266.000000
mean,2.284965e+03,3307.446258,40.721981,-74.046851,3306.679946,40.721816,-74.046606,41405.213454,1980.641302,5.388025,16.765021,2020.0,5.388516,16.763281,2020.0,38.082747,0.634717,39.358698
std,1.539826e+04,189.301241,0.007820,0.012238,193.768131,0.007913,0.012277,4047.091654,11.323878,0.705383,8.760141,0.0,0.705779,8.762554,0.0,256.637726,4.277296,11.323878
min,6.100000e+01,3184.000000,40.711130,-74.083639,143.000000,40.674181,-74.083639,14531.000000,1920.000000,4.000000,1.000000,2020.0,4.000000,1.000000,2020.0,1.020000,0.020000,16.000000
25%,4.960000e+02,3195.000000,40.716540,-74.055701,3194.000000,40.716540,-74.051789,42178.000000,1969.000000,5.000000,9.000000,2020.0,5.000000,9.000000,2020.0,8.270000,0.140000,30.000000
50%,1.091000e+03,3209.000000,40.721124,-74.044247,3209.000000,40.719586,-74.043991,42330.000000,1983.000000,6.000000,17.000000,2020.0,6.000000,17.000000,2020.0,18.180000,0.300000,37.000000
75%,2.144000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,42480.000000,1990.000000,6.000000,25.000000,2020.0,6.000000,25.000000,2020.0,35.730000,0.600000,51.000000
max,1.554397e+06,3792.000000,40.748716,-74.032108,3992.000000,40.842842,-73.942125,44543.000000,2004.000000,6.000000,31.000000,2020.0,7.000000,31.000000,2020.0,25906.620000,431.780000,100.000000